{% extends "base.html" %}

{% block content %}
<div id="posts">
	{% if current_user.is_authenticated %}
    <div class="post-container">
        <h1>Dashboard</h1>
        <h3><a href="{{ url_for('new') }}">New Post</a></h3>
    </div>

	{% for category, name in categories %}
	<div class="post-container">
		<h3>{{ name }}</h3>
		<ul style="list-style-type: none;">
			{% for post in category %}
			<hr>
			<li><a href="{{ url_for('post', slug=post.slug) }}"><h4>{{ post.title }}</h4></a></li>
			<li><em>{{ post.excerpt }}</em></li>
			<li><p class="meta"><em>{{ post.timestamp }}</em></p></li>
			<li><a href="{{ url_for('edit', slug=post.slug )}}">Edit</a></li>
            {% endfor %}
		</ul>
	</div>
	{% endfor %}

	{% else %}
    <div class="post-container">
        <h1>This page is only for admins...</h1>
    </div>
    {% endif %}

</div>
{% endblock %}
