{% extends "base.html" %}

{% block content %}
	<div id="posts">

		{% for post in posts %}
			<div class="post-container">
				<h1><a href="{{ url_for('post', slug=post.slug) }}">{{ post.title }}</a></h1>
				{% if post.featured_img %}
				<a href="{{ url_for('post', slug=post.slug) }}">
                    <img class="featured-image" src="{{ post.featured_img }}">
				</a>
				{% endif %}
				{% filter markdown %}{{ post.content }}{% endfilter %}
			</div>
		{% endfor %}

		<div class="post-container">
			{% if prev_url %}
			<a href="{{ prev_url }}" style="float: left;"><< Newer Posts</a>
			{% endif %}
			{% if next_url %}
			<a href="{{ next_url }}" style="float: right;">Older Posts >></a>
			{% endif %}
		</div>
		
	</div>
{% endblock %}
